<%= form_with model: @item, data: { reflex: "submit->ItemReflex#submit", signed_id: @item.to_sgid.to_s } do |form| %>

  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %>
    <% end %>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, data: { reflex: "change->PostReflex#submit", reflex_dataset: "combined" } %>
  </div>

  <%= form.fields_for :comments, @item.comments do |comment_form| %>
    <%= comment_form.hidden :id %>
    <%= comment_form.label :name %>
    <%= comment_form.text_field :name, data: { reflex: "change->ItemReflex#submit", reflex_dataset: "combined" } %>
  <% end %>

  <%= link_to "New comment", "#", data: { reflex: "click->ItemReflex#build_comment" } %>

  <%= form.submit %>

<% end %>